html {
    scroll-behavior: smooth;
}

header {
    background-color: #20ABCC;
}

.jumbotron-container {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.hamburger {
    border: none;
    background: none;
}

.navbar-container {
    background-color: #353398; 
    top: 28px; right: 0px;  
    width: 70%;
}

.nav-item:hover {
    background-color: #77B5FF;
    transition: background-color, 2s;
}

.nav-text-color {
    color: #fff;
}

.input-search {
    border: none;
    border-radius: 50px;
    padding: 5px 15px;
    outline: none;
}

.btn-search {
    margin-left: -40px;
    border: none;
    background-color: #fff;
}

/* use for contain some of section */

.contain {
    width: 80%;
    margin: 0 auto;
}

.news-indicator {
    border: 2px solid #353398 !important;
    background: #353398 !important;
}

.prev {
    transform: rotate(-180deg);
}

.prev, .next {
    width: 50px;
}

.link-element, .link-element:hover {
    text-decoration: none;
    color: #000000;
}

.date {
    font-style: italic;
}

.main-news-card {
    width: 18rem;
}

.carousel-img-effect {
    opacity: 0.8;
    transition: opacity 2s;
}

.carousel-img-effect:hover {
    opacity: 1;
}

.text-ellipsis-main-news-header {
    height: 75px;
    overflow: hidden;
}

.text-ellipsis-main-news-body {
    height: 75px;
    overflow: hidden;
}

.text-ellipsis-web-opd {
    height: 80px;
    overflow: hidden;
}

.text-ellipsis-announcement {
    height: 80px;
    overflow: hidden;
}

.text-ellipsis-info-opd {
    height: 100px;
    overflow: hidden;
}

.text-ellipsis-article-header {
    height: 90px;
    overflow: hidden;
}

.text-ellipsis-article-body {
    height: 90px;
    overflow: hidden;
}

.card-header {
    color: #fff;
    background-color: #20ABCC;
}

.card-link {
    text-decoration: none;
    color: #fff;
    background-color: #20ABCC;
    height: fit-content;
    padding: 3px;
}

.card-link:hover {
    color: #Fff;
}

.card-subtitle {
    color: #77B5FF!important;
}

.mySwiper {
    height: 450px;
    margin-bottom: 200px;
}

.artikelSwiper {
    height: 300px;
    margin-bottom: 50px;
}

.swiper-pagination {
    margin-top: 20px;
}

.swiper-pagination-bullet {
    background-color: #353398;
}

.show-contents {
    text-decoration: none;
    color: #000000;
}

.show-contents p {
    background-color: #353398;
    border-radius: 25px;
    padding: 2px 10px;
    color: #fff;
    text-align: center;
}

.show-contents p:hover {
    background-color: #77B5FF;
}

.opd-web-effect {
    position: relative;
    left: -120%;
    transition: all 1s ease-in-out;
}

.opd-web-effect-active {
    left: 0;
}

.announcement-effect {
    opacity: 0;
    transition: all 1s ease-in-out;
}

.announcement-effect-active {
    opacity: 1;
}

.content-link {
    color: #000;
    text-decoration: none;
}

.content-link:hover {
    color: #000;
}

.content-link:active {
    color: #FF6600
}

.begalor-effect {
    opacity: 0;
    transition: all 2s ease-in-out;
}

.begalor-effect-active {
    opacity: 1;
}

.horizontal-line-begalor {
    width: 100%;
}

.opd-information-effect {
    opacity: 0;
    transition: all 2s ease-in-out;
}

.opd-information-effect-active {
    opacity: 1;
}

.relative {
    position: relative;
}

.hidden-over {
    overflow: hidden;
}

.overlay-black {
    margin-right: 500px;
    height: 100%;
    width: 100%;
    position: absolute;
}

.title-overlay {
    position: absolute;
    width: 70%;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    bottom: 0;
    margin-left: 10px;
    font-weight: 400;
    text-shadow: 0 2px 4px #000;
    left: 0;
}

.date-overlay {
    font-size: 13px;
    color: #77B5FF;
}

.container-footer-logo {
    width: 100px;
    margin-bottom: 15px;
}

footer {
    background-color: #353398;
}

.footer-link {
    text-decoration: none;
}

#scroll-top {
    transform: rotate(90deg);
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
    background: none;
    display: none;
    outline: none;
}

#scroll-top img {
    width: 40px;
}

@media (min-width: 992px) {

    .hamburger {
        display: none;
    }

}


@media (max-width: 575.98px) { 
    
    .main-subject {
        font-size: 18px;
    }

    .hr-sm {
        width: 70%;
    }

 }

@media (max-width: 991.98px) {

    .navbar-container {
        background-color: #990000; 
        top: 68.5px; 
        right: 0;  
        width: 70%;
        padding: 0 25px;
        transition: all 1s;
    }

    .form-active {
        margin-bottom: 15px;
    }
}
